# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/

# Node modules (if React folder exists)
node_modules/

# IDE settings
.vscode/
.idea/

# Test & coverage
.coverage
htmlcov/
.pytest_cache/

# Temporary files
*.tmp
*.swp